
  .contact {
    position: absolute;
    width: 55%;
    top: 160%;
    text-align: center;
  }

  .form {
    padding: 40px;

    width: 70%;
  }

  .frm {
    border-radius: 300px;
    font-size: 30px;

  }

  .heading {

    position: absolute;
    width: 100%;
    top: 5%;
    text-align: center;
    font-style: oblique;

  }

  h1 {
    color: black;
    position: absolute;
    width: 100%;
    top: 130%;
    text-align: center;
    background-color: wheat;

  }

  label {
    color: white;
    font-style: italic;

  }


  .btn {
    border-radius: 25px;
    margin: 20px;
    font-size: 30px;
    height: 32px;
    width: 50%;


  }

  button:hover {
    background-color: green;
  }



  .about {
    position: absolute;
    width: 110%;
    top: 20%;
    text-align: center;
    font-style: oblique;
    background-color: grey;


  }

  .intro {
    position: absolute;
    width: 110%;
    top: 40%;
    text-align: center;
    font-style: oblique;
    background-color: grey;


  }
